:host{
    margin: 0;
    display: block;
    height: 100vh;
}

// .d-flex{
//     background-color: aqua;
// }

// .w-50{
//     background-color: violet;
// }

// .m-5{
//     background-color: rgb(35, 132, 218);
// } 

.logo{
    color: #ffa500;
}

// .row{
//     background-color: #ffa500;
// }