:host {
    display: block;
    height: 100vh;
}

.container{
    background-color: #705D56;
}

.logo{
    color: #ffa500;
}

.avatar{
    width: 30px;
    height: 30;
}

.hover:hover{
    cursor: pointer;
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.border-hover{
    cursor: pointer;
    color: 1px solid #ffa500;
}