:host {
    background-color: blue;
    display: block;
    height: 100vh;
}


.logo{
    color: #ffa500;
}

.container{
    background-color: white;
}

.avatar{
    width: 30px;
    height: 30;
}

.hover:hover{
    cursor: pointer;
}
// .w-50{
//     background-color: aliceblue;
// }


// .d-flex{
//  background-color: blueviolet;
// }

// .navbar-nav{
//     background-color: violet;
// }

// .container-fluid{
//     background-color: brown;
// }



// .container {
//     display: flex;
//     flex-direction: row;
//     background-color: tomato;
//     width: 100vw;

//     .container__header {
//         background-color: red;
//         height: 100vh;
//         width: 20%;

//         .container__logo{
//             background-color: #27FB6B;
//             height: 10%;
//             display: flex;
//             justify-content: center;

//             .logo{
//                 color: #fff;
//                 font-family: Arial, sans-serif;
//                 text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
//                 font-size: 1.4rem;
//             }
//         }

//         .container__menu{
//             background-color: yellow;
//             height: 80%;

//             .menu__list{
//                 margin: 0;
//                 width: 100%;
//                 background-color: #fff;
//             }
//         }

//         .container__footer{
//             background-color: #880044;
//             height: 10%;

//             .footer__user{
//                 margin: 0;
//             }
//         }
//     }

//     .container__main {
//         background-color: green;
//         height: 100vh;
//         width: 80%;
//     }
// }