<div class="d-flex h-100">
    <div class="container p-0 m-0">
        <div class="bg-secondary container-fluid w-100 h-100 p-0 justify-content-between ">
            <div class="offcanvas-header flex-column w-100 pb-2 border-bottom">
                <img src="../../../assets/logo.png" alt="">
                <h2 class="logo m-0">Reserve Aqui</h2>
            </div>
            <nav class="navbar w-100 mh-100 mt-4 text-center d-flex justify-content-center">
                <div class="offcanvas-body w-100 mb-5">
                    <ul class="navbar-nav justify-content-end pe-3 h-100">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/reserve">Guardar mesa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/myReservations">Minhas reservas</a>
                        </li>
                        <li *ngIf="linkVisible()" class="nav-item">
                            <a class="nav-link active" routerLink="/manegeTables">Cadastrar
                                mesa</a>
                        </li>
                    </ul>
                </div>
                <div class="fixed-bottom w-25">
                    <div class="d-flex bg-danger w-100 d-flex justify-content-around">
                        <p *ngIf="userAuth" class="pe-5 ">{{userAuth}}</p>
                        <a (click)="signOut()">Sair</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid w-50 m-0">
        <router-outlet></router-outlet>
    </div>
</div>