<div class="d-flex w-100 h-100">
    <div class="container p-0 m-0 w-25">
        <div class="w-100 m-0 h-100 d-flex flex-column justify-content-between ">
            <div class="offcanvas-header p-3 flex-column w-100 pb-2 border-bottom">
                <img src="../../../assets/logo.png" alt="">
                <h2 class="logo m-0">Reserve Aqui</h2>
            </div>
            <nav class="navbar pe-2 ps-2 text-center mb-5">
                <div class="offcanvas-body w-100 mb-5">
                    <ul class="navbar-nav justify-content-end pe-3 h-100">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="border-hover nav-link active" routerLink="/myReservations">Minhas reservas</a>
                        </li>
                        <li *ngIf="linkVisible()" class="nav-item">
                            <a class="nav-link active" routerLink="/manegeTables">Cadastrar
                                mesa</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class=" w-100 border-top">
                <div class="d-flex justify-content-between align-items-center p-4">
                    <div class="d-flex align-items-center">
                        <img class="avatar" src="../../../../assets/avatar.svg" alt="Avatar do usuário">
                        <p class="m-0 fa-text-width text-lowercase">{{userAuth}}</p>
                    </div>
                    <a class="hover"
                        (click)="signOut()">Sair</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>
