
<div class="modal-header v">
  <div class="container">
    <div class="border-bottom border-1">
      <h3 class="modal-title pull-left">Reserva</h3>
    </div>
    <p *ngIf="isNoTable" class="text-center mt-5">Não há mesas cadastradas</p>
    <div *ngIf="!isNoTable" class="modal-body mt-3 p-0">
      <div *ngIf="message">
        <p style="color:red">{{message}}</p>
      </div>
      <form class="d-flex flex-column justify-content-center" [formGroup]="reserveTable" (submit)="onSelectTable()">
        <div class="col">
          <label>Mesa de quantos lugares?</label>
          <select formControlName="capacity" class="form-select" aria-label="Default select example">
            <option *ngFor="let table of filterCapacity" value="{{ table.capacity }}" selected>
              {{ table.capacity }}
            </option>
          </select>
        </div>

        <div class="col mt-2">
          <label>Para que dia?</label>
          <input type="text" class="form-control" placeholder="Selecione uma data" formControlName="date" bsDatepicker
            [bsConfig]="bsConfig" [bsValue]="hoje" />
        </div>

        <div class="w-100 mt-3">
          <button class="btn btn-primary w-100" [disabled]="!reserveTable.valid">
            Reservar
          </button>
          <button class="btn btn-outline-danger w-100 mt-3" (click)="onCancel()">
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>