<div class="modal-header v">
  <div class="container">
    <div class="border-bottom border-1">
      <h3 class="modal-title pull-left">Reserva</h3>
    </div>
    <div class="modal-body mt-3 p-0">
      <form
        class="d-flex flex-column justify-content-center"
        [formGroup]="reserveTable"
        (submit)="onSelectTable()"
      >
        <div class="col">
          <label>Mesa de quantos lugares?</label>
          <select
            formControlName="capacity"
            class="form-select"
            aria-label="Default select example"
          >
            <option
              *ngFor="let table of tables"
              value="{{ table.capacity }}"
              selected
            >
              {{ table.capacity }}
            </option>
          </select>
        </div>

        <div class="col mt-2">
          <label>Para que dia?</label>
          <input
            type="text"
            class="form-control"
            placeholder="Selecione uma data"
            formControlName="date"
            bsDatepicker
            [bsConfig]="bsConfig"
            [bsValue]="hoje"
          />
        </div>
        <div class="col mt-2">
          <label for="horas_res">Em qual horário? </label>
          <div class="cs-form">
            <input
              type="time"
              type="time"
              value="18:00"
              min="18:00"
              max="00:00"
              formControlName="time"
              class="form-control"
              value="10:05 AM"
            />
          </div>
        </div>

        <div class="w-100 mt-3">
          <button
            class="btn btn-primary w-100"
            [disabled]="!reserveTable.valid"
          >
            Reservar
          </button>
          <button
            class="btn btn-outline-danger w-100 mt-3"
            (click)="onCancel()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
