<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
  <button type="button" class="btn">Change width</button> -->

<form [formGroup]="newTableForm" (submit)="newTable()">
    <label>Quantos lugares?</label>
    <input type="text" formControlName="capacity">
    <button>OK</button>
</form>