<div class="container p-3">
    <div class="">
        <form [formGroup]="formTable" (submit)="newTable()">
            <legend class=" text-center p-2">{{title}}</legend>
            <div class="mb-3">
                <label class="form-label">Quantos lugares?</label>
                <input type="text" class="form-control" formControlName="capacity" placeholder="Digite a quantidade...">
            </div>
            <div class="mb-3">
                <label>Descrição</label>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
            <button class="btn btn-primary w-100">Salvar</button>
        </form>
    </div>
</div>