<div class="container">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (submit)="submitLogin()">
        <div *ngIf="message">
            {{message}}
        </div>
        <div class="form-group">
            <div
                *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">
                    <span style="color: red;">*</span>
                </div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">
                    <span style="color:red">E-mail invalido</span>
                </div>
            </div>
            <label for="exampleInputEmail1">E-mail</label>
            <input type="email" class="form-control" placeholder="Digite seu email..." formControlName="email">
        </div>

        <div class="form-group">

            <div
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">

                <div *ngIf="loginForm.get('password')?.errors?.['required']">
                    <span style="color: red;">*</span>
                </div>

            </div>

            <label or="exampleInputEmail">Senha</label>
            <input type="password" class="form-control" placeholder="Digite sua senha..." maxlength="8" formControlName="password">

            <div *ngIf="loginForm.get('password')?.dirty || loginForm.get('password')?.touched">
                <div *ngIf="passwordError">{{ passwordError }}</div>
            </div>
            
        </div>
        <div>
            <button class="btn btn-primary" [disabled]="!loginForm.valid">Entrar</button>
        </div>
    </form>

    <div class="main-footer">
        <p>Ainda não possui cadastro?</p>
        <p routerLink="/register">cadastre-se</p>
    </div>
</div>